.product-card .oke-sr-count * {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #787978;
    letter-spacing: normal;
}

.product-card .sub-title {
  display: block;
  width: 100%;
}

.swiper-wrapper p a {
  font-weight: 700;
}

.my-wishlist p {
  color: #84827e;
  text-align: center;
  font-size: 15px;
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  letter-spacing: .264px;
}

.freq-product-list .swiper-slide .content p a {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: .01px;
  color: #84827e;
  min-height: 30px;
  max-height: 30px;
  overflow: hidden;
}

.modal-quick-view-mini-cart .product__info > p {
    color: #84827e !important;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p#shopify-pc__banner__body-title {
  color: hsl(0deg, 0%, 0%, 100%);
  font-family: inherit;
  font-size: 120%;
  margin: 0 0 .5em 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .23px;
}

.hero-banner-slider,
.home-hero-mobile {
.swiper-pagination {
  flex-wrap: nowrap;


}
}

.productCard__quickviewLink{
      text-decoration: underline;
    font-weight: 500;
    line-height: normal;
    color: #787978;
    display: block;
    margin-top: 10px;
}
.product-slider-mobile{
  margin-top:70px;
}
.four-column-product-slider{
  padding-top:70px!important;
}
.six-column-logos{
  padding:70px 0;
}
.three-column-card-slider{
  padding:70px 0;
}
.two-column-blog-slider{
  padding:70px 0;
}

.fullMedia{
      width: 100vw;
    height: calc(100vh - 64px);
    position: relative;
}
.fullMedia__background{
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fullMedia__image{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.fullMedia__contentWrapper{
  position:absolute;
  top:0px;
  left: 0;
  width: 100%;
  height: 100%;
  padding:40px;
  z-index:1;
}
.fullMedia__contentColumn{
  display:flex;
  width:100%;
  height:100%;
}
.fullMedia__contentColumn--left{
  justify-content: flex-start;
}
.fullMedia__contentColumn--center{
  justify-content: center;
}
.fullMedia__contentColumn--right{
  justify-content: flex-end;
}
.fullMedia__content{
  max-width:650px;
  width:100%;
  margin:auto 0;
}
.fullMedia__title{
      color: #ffffff;
    margin-bottom: 20px;
}
.fullMedia__text p{
  margin-bottom:10px;
}
.fullMedia__button{
    margin-top: 20px;
}
.fullMedia__videoWrapper{
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.fullMedia__videoWrapper video, .fullMedia__videoWrapper iframe{
      width: 100%;
    height: 100%;
    object-fit: cover;
}
.productCard__buy{
  margin:0 auto;
}
.fullMedia__image--mobile{
  display:none;
}
@media only screen and (max-width:768px){
  .fullMedia__image--mobile{
    display:block;
  }
  .fullMedia__image--desktop{
    display:none;
  }
}

/*BPCLX PDP*/

body.bpc-lx {
  background-color: #FEFFFE;
  [id*="pdp_reviews"] {
    background-color: #FEFFFE;

    .product-reviews-widget-bpc-lx {
      padding-bottom: 49px;
    }

    .product-reviews-widget-bpc-lx h2.text-center {
      text-align: left;
      text-transform: capitalize;
      font-size: 32px;
    }

    @media (min-width: 960px) {
      .product-reviews-widget-bpc-lx h2.text-center {
        text-align: center;
        font-size: 45px;
        line-height: 52px;
        margin-bottom: 48px;
      }
    }
  }

  
  .four-column-product-slider {
    background-color: #FEFFFE;
    /* padding-bottom: 48px; */

    .top-section {
      margin-bottom: 32px;
    }

    h2 {
      font-size: 32px;
      line-height: 40px;
      text-transform: capitalize;
      text-align: left;
    }

    @media (min-width: 960px) {

      h2 {
        font-size: 45px;
        line-height: 52px;
        text-align: center;
      }
    
    }
  }

  .footer-top-bar,
  .main-footer__newsletter {
    display: none;
  }

  .okeReviews[data-oke-container] .oke-w-reviews-writeReview,
  div.okeReviews .oke-w-reviews-writeReview {
    margin-left: auto;
    margin-right: auto;
  }

  .okeReviews[data-oke-container] .oke-button,
  div.okeReviews .oke-button {
    border-color: #1A1B1B;
    background-color: transparent;
    padding: 12px 99px;
  }

  .oke-showMore .oke-button {
    font-weight: 400;
  }

  .product__actions .btn--primary {
    max-width: 198px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
    gap: 8px;
  }

  @media (min-width: 960px) {
    .product__actions .btn--primary {
      max-width: 272px;
    }

    .product__actions .add-to-cart {
      margin-left: 8px;
    }
  }

}

.four-column-product-slider .inner .swiper-button-prev-product-slider svg circle,
.four-column-product-slider .inner .swiper-button-next-product-slider svg circle {
  fill: #F1F3F4;
  stroke: #F1F3F4;
}


.product-card .product-wrapper .image-section a .first-img{
  display:block!important;
}
.product-card .product-wrapper .image-section a .hover-img{
  display:none!important;
}
.product-card:hover .product-wrapper .image-section a .hover-img{
  display:block!important;
}

.pdp-tab-small__wrapper ul.accordian li .content {
  cursor: auto;
}