.product-card .oke-sr-count * {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #787978;
    letter-spacing: normal;
}

.product-card .sub-title {
  display: block;
  width: 100%;
}

.swiper-wrapper p a {
  font-weight: 700;
}

.my-wishlist p {
  color: #84827e;
  text-align: center;
  font-size: 15px;
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  letter-spacing: .264px;
}

.freq-product-list .swiper-slide .content p a {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: .01px;
  color: #84827e;
  min-height: 30px;
  max-height: 30px;
  overflow: hidden;
}

.modal-quick-view-mini-cart .product__info > p {
    color: #84827e !important;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p#shopify-pc__banner__body-title {
  color: hsl(0deg, 0%, 0%, 100%);
  font-family: inherit;
  font-size: 120%;
  margin: 0 0 .5em 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .23px;
}

body.bpc-lx {
  background-color: #FEFFFE;
  [id*="pdp_reviews"] {
    background-color: #FEFFFE;

    .product-reviews-widget-bpc-lx {
      padding-bottom: 49px;
    }

    .product-reviews-widget-bpc-lx h2.text-center {
      text-align: left;
      text-transform: capitalize;
      font-size: 32px;
    }

    @media (min-width: 960px) {
      .product-reviews-widget-bpc-lx h2.text-center {
        text-align: center;
        font-size: 45px;
        line-height: 52px;
        margin-bottom: 48px;
      }
    }
  }

  
  .pdp-recommendations.pdp-recommendations {
    background-color: #FEFFFE;
    padding-bottom: 48px;
    
    .four-column-product-slider .top-section {
      margin-bottom: 32px;
    }

    h2 {
      font-size: 32px;
      line-height: 40px;
      text-transform: capitalize;
      text-align: left;
      width: 80%;
    }

    @media (min-width: 960px) {
      margin-bottom: 64px;

      h2 {
        font-size: 45px;
        line-height: 52px;
        text-align: center;
        width: auto;
      }
    
    }
  }

  .footer-top-bar,
  .main-footer__newsletter {
    display: none;
  }

  .rc-purchase-option__badge {
    top: .8rem !important;
    right: 5rem !important;
    font-size: 14px !important;
    line-height: 20px !important;
    padding: 4px 8px !important;
    font-weight: bold !important;
    letter-spacing: 0.5px !important;
  }

  .rc-purchase-option {
    border-width: 2px !important;
  }
  
  .rc-purchase-option[rc-selected] {
    --rc-widget-brand-color: #1A1B1B !important;
    border-color: var(--rc-widget-brand-color) !important;
  }

  .rc-price.text-muted {
    order: 2 !important;
  }

  .rc-purchase-option__label {
    padding: 16px !important;
  }

  .okeReviews[data-oke-container] .oke-w-reviews-writeReview,
  div.okeReviews .oke-w-reviews-writeReview {
    margin-left: auto;
    margin-right: auto;
  }

  .okeReviews[data-oke-container] .oke-button,
  div.okeReviews .oke-button {
    border-color: #1A1B1B;
    background-color: transparent;
    padding: 12px 99px;
  }

  .oke-showMore .oke-button {
    font-weight: 400;
  }

  .product__actions .btn--primary {
    max-width: 198px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
    gap: 8px;
  }

  @media (min-width: 960px) {
    .product__actions .btn--primary {
      max-width: 272px;
    }

    .product__actions .add-to-cart {
      margin-left: 8px;
    }
  }

}

.four-column-product-slider .inner .swiper-button-prev-product-slider svg circle,
.four-column-product-slider .inner .swiper-button-next-product-slider svg circle {
  fill: #F1F3F4;
  stroke: #F1F3F4;
}

